
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav {
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a {
  color: rgb(44, 58, 182)
}

.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li:active {
  background-color: rgb(95, 129, 129);
 }

.nav li:hover {
  background-color: #5a5a5a;
  padding: 0.35rem;
}