:root {
    --darkbrown: #8b8589;
    --lightbrown: #989898;
    --darkgray: #838996;
    --lightgray: #979aaa;
    --dark: #4c516d
}   

  .player-display {
    background-color: var(--lightbrown);
    border-radius: 5px;
    padding: 20px;
    min-height: 300px;
    overflow-y: auto;
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: var(--dark);
    padding: 25px;
    border-radius: 10px;
  }

  .message-container {
    background-color: var(--lightbrown);
    border-radius: 5px;
    min-height: 24px;
    margin-bottom: 20px;

    text-align: center;
  }